
header {
  background: url("../pattern.png") repeat;
  background-color: #4EA0FF;
  background-size: contain;
}
header img {
 width: 200px;
 height: 150px;

}
.author-life {
  color: lightgray;
}
.author-life span {
   font-size: 12px;
}

.tim-info-photo {
   font-size: 12px;
   font-weight: bold;
}

li{
  margin-left: 16px;
  margin: 10px 0;
}

  

thead th{
  background-color: #4EA0FF;
  color: aliceblue;
}
table th{
  text-align: left;
}
table {
  margin: 0%;
  height: min-content;
  border-collapse: collapse;
  }
  #special {
    background-color: #B1E5F2;
  }

  .p3 {
    color: gray;
  }

  footer .img-box {
    width: 150px;
    height: 150px;
    margin: 10px 0;
  }

  #footer-img-1 {
    background-image: url(../monitor.jpg);
  }

  #footer-img-2 {
    background-image: url(../graph.jpg);
  }

  footer p {
    color: aliceblue;
  }