
header {
  background: url("../pattern.png") repeat;
  background-color: #4EA0FF;
  width:auto;
}
span {
  background-color: yellow;
  
}
thead {
  background-color: #4EA0FF;
}
table {
  margin: 0%;
  height: min-content;
  }
  #special {
    background-color: #B1E5F2;
  }